@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
	background-color: #000000;
	background-image: url('stars.jpg');
}

#main-container{
    width: 60%;
    height: 100%;
    background: rgb(55,55,55);
    margin: auto;
    margin-top: 0%;
    animation: changeBorder 10s linear infinite;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-container{
    width: 75%;
    height: 15%;
    background: #FFFFFF;
    margin-top: 2.5%;
    animation: changeBorder 10s linear infinite;
    overflow: hidden;

	font-family: 'Noto Serif', serif;
    text-align: center;
    letter-spacing: 2px;
	font-size: 25px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

/*buttons in the question container*/
.choice-one{
    height: 25%;
    width: 70%;
    background-color: #FF8F18;
    opacity: .6;
    transition: .3s;

    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
	
	overflow: hidden;
}

.choice-one:hover{
    opacity: 1;
}

.choice-one-span{
    color: #000000;
}

.choice-two{
    height: 25%;
    width: 70%;
    background-color: #FF8F18;
    opacity: .6;
    transition: .2s;

    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
	
	overflow: hidden;
}

.choice-two:hover{
    opacity: 1;
}

.choice-three{
    height: 25%;
    width: 70%;
    background-color: #FF8F18;
    opacity: .6;
    transition: .2s;

    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
	
	overflow: hidden;
}

.choice-three:hover{
    opacity: 1;
}

.choice-four{
    height: 25%;
    width: 70%;
    background-color: #FF8F18;
    opacity: .6;
    transition: .2s;

    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
	
	overflow: hidden;
}

.choice-four:hover{
    opacity: 1;
}

.color-container{
    width: 25%;
    height: 25%;
    background: #FFFFFF;
    margin-top: 2.5%;
    animation: changeBorder 10s linear infinite;
}

.answer-container{
    width: 50%;
    height: 47.5%;
    background: rgb(100,100,100)F;
    margin-top: 2.5%; 

    border-radius: 25px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*just a temporary button*/
.temp{
    position: absolute;
}

/*keyframes for the background color tansformation*/

@keyframes changeBackground {
    from {
        background-color: #6666ff;
      }
      10% {
        background-color: #0099ff;
      }
      50% {
        background-color: #00ff00;
      }
      75% {
        background-color: #ff3399;
      }
      100% {
        background-color: #6666ff;
      }
}

@keyframes changeBorder {
    from {
        border: 3px solid #6666ff;
      }
      10% {
        border: 3px solid #0099ff;
      }
      50% {
        border: 3px solid #00ff00;
      }
      75% {
        border:  3px solid#ff3399;
      }
      100% {
        border: 3px solid #6666ff;
      }
}